[submodule "web"]
	path = web
	url = https://github.com/ProForks/urlooker/web.git
[submodule "alarm"]
	path = alarm
	url = https://github.com/ProForks/urlooker/alarm.git
[submodule "agent"]
	path = agent
	url = https://github.com/ProForks/urlooker/agent.git
